

*{
    margin: 0;
    padding: 0;
}


img.center{
	
	width:30%;
	height:250px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.Skills{
	
	background-color:#000080;
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
	color:blue;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: red;
}

